<!-- 全局js -->
<script src="{$static_path}plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- 第三方插件，加载进度条 -->
<script src="{$static_path}plugins/pace/pace.min.js"></script>

<!-- layui -->
<script src="{$static_path}plugins/layui/layer/layer.js"></script>
<script src="{$static_path}plugins/layui/laydate/laydate.js"></script>

<!-- 自定义js -->
<script src="{$static_path}js/layer.com.js"></script>
<script src="{$static_path}js/common.js"></script>
<script src="{$static_path}js/vue.js"></script>
<script src="{$js}hplus.js"></script>
<script src="{$js}contabs.js"></script>

<!-- ueditor编辑器 -->
<script src="{$static_path}plugins/ueditor/ueditor.config.js"></script>
<script src="{$static_path}plugins/ueditor/ueditor.all.js"></script>
 <!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container',{initialFrameHeight:450,allowDivTransToP:false,});
</script>

